body {
    background-image: url("backgroundImage.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}

.container1{
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
  }
  .container1 .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }

  .content img{
    margin: auto;
    display: inline-block;
  }

  .content div{
    margin: auto;
  }

  .col-4 {
    text-align: center;
  }

  .col-12 {
    text-align: center;
  }

  .row{
    text-align: center;
    padding-bottom: 50px;
  }

  .col-4 h3{
    font-weight: bold;
  }

  .container1 {
    margin-top: 50px;
  }



  /*
  / * form css * /
  .form_container{
    background: #fff;
    padding: 15px;
    margin-top: 20px;
    border-radius: 3px;
  }
  
  .form_container .form_item{
    margin-bottom: 25px;
  }
  
  .form_container .form_wrap.form_grp{
    display: flex;
  }
  
  .form_container .form_wrap.form_grp .form_item{
    width: 50%;
  }
  
  .form_container .form_wrap.form_grp .form_item:first-child{
    margin-right: 4%;
  }
  
  .form_container .form_item label{
    display: block;
    margin-bottom: 5px;
  }
  
  .form_container .form_item input,
  .form_container .form_item select{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dadce0;
    border-radius: 3px;
  }
   
  .form_container .btn input[type="submit"]{
    background: #6271f0;
    border: 1px solid #6271f0;
    padding: 10px;
    width: 25%;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
  }
  */

  #submitPost {
    width: 25%;
  }
  
  #searchPost{
    border: 1px solid #00ff80;
    padding: 10px;
    width: 25%;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(0, 206, 34);
    color: #fff;
    display: block; 
    margin:auto;   
    margin-top: 50px;    
  }