#header {
    text-align: center;
}

.carousel-control-prev, .carousel-control-next {
    background-color: transparent;
    border-color: transparent;
}

.c-item {
    height: 800px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

.c-caption {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

body{
    background: #eee;
}
.news{
    width: 160px;
}

.news-scroll a{
    text-decoration: none;
}

.dot{
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: rgb(207,23,23);
    border-radius: 50%;
    display: inline-block;
}