#header {
    text-align: center;
}

.carousel-control-prev, .carousel-control-next {
    background-color: transparent;
    border-color: transparent;
}

.c-item {
    height: 800px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

.c-caption {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

