#header {
    text-align: center;
}

.carousel-control-prev, .carousel-control-next {
    background-color: transparent;
    border-color: transparent;
}

.c-item {
    height: 800px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

