
body{
    background-color: #F5F1E8;  
}

.left-stickers {
    display: flex;
    flex-direction: column;
    z-index: -1;
    position: absolute;
    top: 70%;
    left: 20px;
    transform: translateY(-50%);
}

.right-stickers {
    z-index: -1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70%;
    right: 20px;
    transform: translateY(-50%);
}

.left-stickers img,
.right-stickers img {
    width: 280px;
    height: 280px;

    margin: 50px;
    margin-top: 80px;
}

#sticker4{

    width: 250px;
    height: 200px;

}
   


#quizContainer {  

    text-align: center; 
    margin: auto;
    
}

#tableContainer{

    margin: auto;
    padding: auto;
    align-content: end;


    background-color:#BFDA87;
    border: 5px solid #375D3B;
    border-collapse: collapse; 
    
    font-size: xx-large;
    margin-bottom: 50px;
}

#quizIntro {
    font-weight: bold;
    padding: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: large;
    color:rgb(18, 17, 17);
}

th {
    text-align: center;
}

td {
    border: 5px solid #375D3B;
    text-align: left;

    padding: 10px;
}

td img {
    margin: auto;
    width: 150px;
    height: 75px;
}

select {
    background-color:#FDC323;
    border-color: #edc1cf;
}

#submitQuiz {     
    font-size: xx-large;
    margin-bottom: 100px;
    padding: 7px;
    background-color:#906387;
    color: white; 
    border-color: white;
    font-weight: bold;
}

#quizHeader {
    font-size: 4em;
}

