@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
}

div.card img {
    height: 200px;
    width: auto;
}

div.card p.Description {
    height: 130px;
}

div.card {
    margin-top: 50px;
}

.MyCartContainer {
    position: sticky;
    top: 0px;
    z-index: 1;
}

#storeContainer {
    position: relative;
}

#myCartDiv {
    position:absolute;
    right: 100px;
}

#myCartItems {
    overflow-y: scroll; 
    height:400px;
}

#myCartFooter{
    position:relative;
    top:400px;
}