@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
}

div.card img {
    height: 200px;
    width: auto;
}

div.card p.Description {
    height: 130px;
}

div.card {
    margin-top: 50px;
}

.MyCartContainer {
    position: sticky;
    float:right;
    z-index: 1;
}